<table *ngIf="documentList?.length; else noResult">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Categories</th>
      <th>Extension</th>
      <th>UpdatedDate</th>
      <th>CreatedDate</th>
      <th>UpdatedBy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documentList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ document.ID }}</td>
      <td>{{ document.Code }}</td>
      <td>{{ document.Name }}</td>
      <td>{{ document.Description }}</td>
      <td>{{ document.Categories }}</td>
      <td>{{ document.Extension }}</td>
      <td>{{ document.UpdatedDate | date : "dd/MM/yy HH:mm" }}</td>
      <td>{{ document.CreatedDate | date : "dd/MM/yy HH:mm" }}</td>
      <td>{{ document.UpdatedBy }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noResult>
  <p>No Result from the API</p>
</ng-template>
