<table *ngIf="pageList?.length; else noResult">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Name</th>
      <th>Ref</th>
      <th>Route</th>
      <th>Content</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pageList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ page.ID }}</td>
      <td>{{ page.Name }}</td>
      <td>{{ page.Ref }}</td>
      <td>{{ page.Route }}</td>
      <td>{{ page.Content }}</td>
      <td>
        <a href="{{ page.URL }}" target="_blank">{{ page.URL }}</a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noResult>
  <p>No Result from the API</p>
</ng-template>
