<div class="container pt-4">
  <div>
    <h1 class="canvas-color">Canvas Search Api</h1>
  </div>
  <div>
    <form [formGroup]="form">
      <mat-form-field appearance="fill" [style.width.%]="100">
        <mat-label>Enter website Url (e.g. https://dash.com.au)</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter Keyword</mat-label>
        <input matInput formControlName="keyword" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Search Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Page Size</mat-label>
        <mat-select formControlName="pageSize">
          <mat-option value="10">10</mat-option>
          <mat-option value="50">50</mat-option>
          <mat-option value="100">100</mat-option>
          <mat-option value="150">150</mat-option>
          <mat-option value="200">200</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Page Number</mat-label>
        <mat-select formControlName="pageNo">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" (click)="showTableResult()">
          Show result in table
        </button>
        <button mat-raised-button color="accent" (click)="showJsonResult()">
          Show result in json
        </button>
      </div>
    </form>
  </div>
</div>
